<!DOCTYPE html>
<html>
	<%- partial('head') %>
	<body>
		<div id="siteLoading" class="siteloading siteLoading-active">
			<div class="loader-inner">
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			</div>
		</div>
		<div class="main-container">
		<div class="top-empty"><a href="/"><%= config.title %></a></div>
		<div class="main">
			<div class="sidebar-container">
				<div><%- partial('sidebar') %></div>
			</div>
			<div class="post-container">
				<div class="post" id="main-container"><%- body %></div>
			</div>
		</div>
		<%- partial('back2top') %>
		</div>
		<%- partial('footer') %>
  	</body>
</html>